<div class="form-group col-md-12">
  <div class="col-md-4">
    <h4>Motivo de Consulta <span class="mandatory-field">*</span></h4>
    <%= f.select :reason_id,
        options_from_collection_for_select(Reason.order(description: :asc), :id, :description, @consultation.reason_id),
        {include_blank: 'N/A'},
        class: 'form-control',
        required: true %>
    <a href="#" data-toggle="modal" data-target="#new-reason-modal">Agregar nuevo motivo</a>
  </div>
  <div class="col-md-8">
    <h4>Enfermedad Actual</h4>
    <%= f.text_area :affliction,
        rows: '3',
        class: 'form-control',
        onkeydown: 'javascript:blockCharacters(this)',
        onkeypressed: 'javascript:blockCharacters(this)',
        onkeyup: 'javascript:blockCharacters(this)',
        onblur: 'javascript:validateTextArea(this)' %>
  </div>
</div>
