<div class="form-group col-md-12">
  <div class="col-md-12">
    <h4>Diagnóstico</h4>
    <%= f.select :diagnostic_id, options_from_collection_for_select(Diagnostic.order(description: :asc), :id, :description, @consultation.diagnostic_id), {include_blank: 'N/A'}, class: 'form-control' %>
    <a href="#" data-toggle="modal" data-target="#new-diagnostic-modal">Agregar nuevo</a>
  </div>
</div>
