<div class="form-group col-md-12">
  <div class="col-md-12">
    <h4>Diagn贸stico <span style="font-size: 12px; color:#cc0000">(Recuerde seleccionar un diagn贸stico y luego presionar "Agregar a la lista")</span></h4>
    <div class="col-md-10">
      <%= select_tag "diagnostics_select",
          options_from_collection_for_select(Diagnostic.all.order(description: :asc), :id, :description),
          include_blank: 'N/A',
          class: 'form-control' %>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-success consultation_add_diagnostic_button">Agregar a la lista</button>
    </div>
    <div class="col-md-12">
      <a href="#" data-toggle="modal" data-target="#new-diagnostic-modal">Agregar nuevo diagn贸stico</a>
    </div>
  </div>

  <div class="col-md-12"><br></div> <!-- separador -->

  <div class="col-md-12">
    <div class="consultation_diagnostics_data_wrap">
      <!-- hidden inputs -->
    </div>
    <div class="col-md-10 consultation_diagnostics_wrap">
      <div class="col-md-12">
        <%= label(:diagnostic, :title, "Diagn贸sticos agregados:", class: 'form-control-label') %>
      </div>
      <!-- inputs -->
    </div>
  </div>
</div>
