<div class="form-group col-md-12">
  <div class="col-md-12">
    <%= f.label :Evolución, class: 'form-control-label' %>
    <%= f.text_area :evolution, rows: '3', class: 'form-control' %>
  </div>
</div>
