<div class="form-group col-md-12">
  <div class="col-md-12">
    <%= f.label :Notas, class: 'form-control-label' %>
    <%= f.text_area :note,
        rows: '3',
        class: 'form-control',
        onkeydown: 'javascript:blockCharacters(this)',
        onkeypressed: 'javascript:blockCharacters(this)',
        onkeyup: 'javascript:blockCharacters(this)',
        onblur: 'javascript:validateTextArea(this)' %>
  </div>
</div>
