<div class="form-group col-md-12">

  <h3>Plan</h3>

  <div class="col-md-12">
    <h4>Descripción del Plan</h4>
    <% if consultation.plan.present? %>
      <%= text_area(:plan, :description, rows: '4', class: 'form-control', value: consultation.plan.description) %>
    <% else %>
      <%= text_area(
          :plan,
          :description,
          rows: '4',
          class: 'form-control',
          onkeydown: 'javascript:blockCharacters(this)',
          onkeypressed: 'javascript:blockCharacters(this)',
          onkeyup: 'javascript:blockCharacters(this)',
          onblur: 'javascript:validateTextArea(this)') %>
    <% end %>
  </div>

  <div class="col-md-12"><br></div>

  <div class="col-md-12">
    <h4>Agregar un Procedimiento <span style="font-size: 12px; color:#cc0000">(Recuerde seleccionar un procedimiento y luego presionar "Agregar a la lista")</span></h4>
    <div class="col-md-10">
      <%= select_tag "procedures_select",
          options_from_collection_for_select(Procedure.all.order(name: :asc), :id, :name),
          include_blank: 'N/A',
          class: 'form-control' %>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-success consultation_add_procedure_button">Agregar a la lista</button>
    </div>
    <div class="col-md-12">
      <a href="#" data-toggle="modal" data-target="#new-procedure-modal-c">Agregar nuevo procedimiento</a>
    </div>
  </div>
  <div class="col-md-12"><br></div> <!-- separador -->
  <div class="col-md-12">
    <div class="consultation_procedures_data_wrap">
      <!-- hidden inputs -->
    </div>
    <div class="col-md-10 consultation_procedures_wrap">
      <div class="col-md-12">
        <%= label(:procedure, :title, "Procedimientos agregados:", class: 'form-control-label') %>
      </div>
      <!-- inputs -->
    </div>
  </div>

</div>
