<% if obj.errors.any? %>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3>Errores en el formulario</h3>
          <b>Por favor verifique los datos ingresados.</b>
          <div class="panel-body">
            <ul>
                <% obj.errors.full_messages.each do |msg| %>
                <li><%= msg%></li>
                <% end %>
            </ul>
          </div><!--panel-body-->
        </div><!--panel-heading-->
      </div><!--panel panel-dange-->
    </div><!--col-xs-8 col-xs-offset-2-->
  </div><!--row-->
<% end %>
