<h1>Resumen de actividades</h1>

<div class="col-md-12">
  <br>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item active">
    <a class="nav-link" data-toggle="tab" href="#general" role="tab">General</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#monthly" role="tab">Mes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#annual" role="tab">Año</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#custom" role="tab">Personalizado</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content tab-content-selector">
  <!-- GENERAL -->
  <div class="tab-pane active" id="general" role="tabpanel">
    <%=
      render partial: 'pacients',
              locals: {
                        all: @pacients.count,
                        without_insurance: @pacients_without_insurance.count,
                        with_insurance: @pacients_with_insurance.count,
                        female: @pacients_female.count,
                        male: @pacients_male.count,
                        p_1_10: @pacients_1_10.count,
                        p_11_20: @pacients_11_20.count,
                        p_21_30: @pacients_21_30.count,
                        p_31_40: @pacients_31_40.count,
                        p_41_50: @pacients_41_50.count,
                        p_51_60: @pacients_51_60.count,
                        p_61_70: @pacients_61_70.count,
                        p_71_80: @pacients_71_80.count,
                        p_81: @pacients_81_plus.count
                      }
    %>
    <%= render 'consultations' %>
    <%= render 'procedures' %>
    <%= render 'budgets' %>
  </div><!-- GENERAL -->

  <!-- MENSUAL -->
  <div class="tab-pane" id="monthly" role="tabpanel">
    <%#= render 'pacients' %>
    <%#= render 'consultations' %>
    <%#= render 'procedures' %>
    <%#= render 'budgets' %>
  </div><!-- MENSUAL -->

  <!-- ANUAL -->
  <div class="tab-pane" id="annual" role="tabpanel">
    <%#= render 'pacients' %>
    <%#= render 'consultations' %>
    <%#= render 'procedures' %>
    <%#= render 'budgets' %>
  </div><!-- ANUAL -->

  <!-- CUSTOM -->
  <div class="tab-pane" id="custom" role="tabpanel">
    <h2>Personalizado</h2>
  </div><!-- CUSTOM -->
</div>
